</div>
<footer class="w-full my-4 py-4 bg-gray-300 xl:text-xl">
    <div class="mx-auto text-center text-black max-w-screen-xl">
        <a href="https://github.com/odysseusmax/tg-index" target="_blank"> @odysseusmax </a>
    </div>
</footer>
<script>
  function toggleTheme() {
  element = document.documentElement;
  if (element.className == "light") {
    element.className = "dark";
    localStorage.theme = 'dark';
    } else {
      element.className = "light";
      localStorage.theme = 'light';
      }
}

function chatImgAlt() {
    document.getElementById('chatimg').src = 'https://s3.imgcdn.dev/nWNtu.jpg'
}
</script>
<!--
<script>
  function toggleColorMode() {
  if (localStorage.theme = 'light') {
    localStorage.theme = 'dark';
    } else {
      localStorage.theme = 'dark';
      }
}
</script>
-->
</body>

</html>