<!doctype html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="stylesheet" href="path/to/plyr.css" />
         <script src="https://cdn.plyr.io/3.6.2/plyr.polyfilled.js"></script>
        
        <title>
            {% if title %} {{title}} {% else %} Telegram Index {% endif %}
        </title>
        
    </head>
    <body>
        
        <div class="m-auto w-full xl:max-w-screen-xl">

            <header class="bg-red-600 text-white mb-2 p-4">
                <a href="/" class="text-left text-xl lg:text-2xl xl:text-3xl"> Telegram Index </a>
            </header>
