<!doctype html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://cdn.fluidplayer.com/v3/current/fluidplayer.min.js"></script>

    <style>
        @import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');
        * {
            font-family: 'PT Sans';
        }
    </style>

    <script>
        
        window.onload = () => {
            // set title as host url
            const titleA = document.getElementById("title-a")
            titleA.innerHTML = document.location.host
        }
         
    </script>


    <title>
        {% if title %} {{title}} {% else %} Telegram Index {% endif %}
    </title>

</head>

<body>

    <header class="bg-blue-300 text-white mb-2 p-4 w-full shadow">
        <div class="mx-auto flex justify-between content-center max-w-screen-xl">
            <a href="/" id="title-a" class="text-left text-xl lg:text-2xl xl:text-3xl"> Telegram index </a>
            {% if authenticated %} <a href="/logout" class="text-right"> Logout </a> {% else %} {%
            endif %}
        </div>

    </header>
    <div class="m-auto w-full min-h-screen max-w-screen-xl">